.company-desc {
    margin-top: 10px;
}
.company-desc h6 {
    color: #3b96e1;
    margin-left: 20px;
    margin-top: 0px;
}
.comapany-overview {
}
.comapany-overview p {
    font-size: 0.78rem;
    color: #aeaeae;
}
.company-bnt {
    width: 330px;

    display: flex;
    justify-content: space-between;
}
.company-bnt button {
    width: 100px;
}
