.testimonials {
    width: 100%;
    background: rgb(255, 255, 255);
    padding-bottom: 50px;
    overflow: hidden;
}
.testimonials-child {
    width: 84%;

    margin: 0px auto;
    overflow: hidden;
}
.restimonials-h1 {
    text-align: center;
}
.restimonials-h1 h1 {
    padding-top: 30px;
    color: #3b96e1;
    font-weight: 600;
}
.restimonials-h1 p {
    text-align: center;
    color: #051f50;
    margin-top: -6px;
}
.testimonials-card-div {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* flex-wrap: wrap; */
    gap: 10px;
}
.testimonials-cards {
    padding: 12px;
    width: 220px;
    border-radius: 6px;
    background: #f8f8f8;
    position: relative;
}

.crads-profile p img {
    position: absolute;
    top: -30px;
    left: 82px;
}
.test-card-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.test-card-heading h6 {
    font-size: 0.8rem;
    color: #051f50;
}
.test-card-heading img {
    width: 20px;
    margin-top: -10px;
    margin-left: 4px;
}
.testimonials-cards p {
    font-size: 0.6rem;
    text-align: center;
    margin-top: -4px;
}
/* For WebKit browsers (Chrome, Safari) */
.align::-webkit-scrollbar {
    height: 6px;
}

.align::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

/* For Firefox */
.align {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}
@media (max-width: 575.98px) {
    .testimonials-card-div {
        justify-content: center;
        overflow: hidden;
    }
}
