.candidate-profile-btns button {
    margin-right: 8px;
    padding: 4px 16px;
}
.candidate-profile {
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.candidate-profile::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.candidate-profile {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.viewOutlet {
    margin-top: 16px;
}
.myDetials {
    width: 70%;
}
.personall {
}
.myDetials p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}
.myDetials table {
    margin-top: -14px;
    width: 100%;
}

.edit-profile-btn {
    margin-top: -26px;
    margin-left: -100px;
    cursor: pointer;
}
.pdf-viewer {
    width: 45%;
    height: 36px;
    background: #f8f8f8;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    margin-bottom: 10px;
}
.pdf-name {
    height: 36px;
    width: 16%;
    background: #3b96e1;
}
.pdf-name {
    font-size: 0.78rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.content-pdf {
}
.content-pdf p {
    margin-top: 8px;
    margin-left: 6px;
    font-size: 0.76rem;
    color: #3b96e1;
}
.pro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}
.pro img {
    margin-top: 40px;
    cursor: pointer;
}
@media (max-width: 575.98px) {
    .candidate-profile-btns button {
        margin-bottom: 10px;
    }
    .edit-profile-btn {
        margin-left: 0px;
    }
}
