.dashboard-card {
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
}
.dashboard-div {
    margin-right: 10px;
}
.dashboard-p {
    color: var(--text-color, #343434);

    font-size: 0.8rem;

    font-weight: 500;
}
.loading {
    color: var(--Primary-color, #3b96e1);
    font-weight: 500;
    font-size: 1rem;
}
.myplan {
    background: white;

    margin-left: 6px;
    padding: 15px 10px;
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
}
.myplan-p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}
.myplan-btn {
    margin-top: 4px;
    margin-left: 10px;
    height: 30px;

    border-radius: 12px;
    font-weight: 600;
    padding: 0px 26px;
    color: white;
    background: linear-gradient(
        99.52deg,
        #3b96e1 -8.78%,
        #a3d6ff 19.78%,
        #3280c0 65.7%,
        #a3d6ff 103.21%
    );
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-pan {
    width: 120%;
    border-radius: 8px;
    border: 1.4px solid #3b96e1;
    padding: 0px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-pan input {
    background: transparent;
    border: none;
    outline: none;
    padding: 6px;
    color: black;
}
.input-pan button {
    margin-left: 50px;
}
.input-pan img {
    height: 30px;
}
.input-success {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120%;
    border-radius: 8px;
    border: 1.4px solid #3b96e1;
    background-color: #b4ddff;
}
.input-success p {
    font-size: 0.64rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Candidates {
    font-family: Poppins;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-bottom: -2px;
}
.Candidates-s {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: #3b96e1;
}
.Candidates-cv {
    font-family: Poppins;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #1d1d1d;
    margin-bottom: -2px;
}
.only {
    font-family: Poppins;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 21px;
    text-align: right;
    color: #3b96e1;
}
.ends-on {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
}
.pan-error {
    color: red;
    font-size: 0.8rem;
    margin: 4px 9px;
}
.dashboard-card {
    width: 400px;
    position: relative;
}
.company-dashboard-card {
    display: flex;
    flex-wrap: wrap;

    border-radius: 6px;
    width: 106%;
    margin-left: -4px;
    gap: 10px;
    padding: 10px;
}
.companydashboaord-child-card {
    height: 80px;
    width: 49%;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: 0px 0px 4px 0px rgba(196, 196, 196, 0.624);
    padding: 10px;
    display: flex;
    gap: 14px;
}
.companydashboaord-child-card h3 {
    font-size: 0.8rem;
    font-weight: 500;
}
.companydashboaord-child-card p {
    font-size: 1.3rem;
    font-weight: 500;
    color: #3b96e1;
}

.custom-select-company {
    font-size: 0.8rem;
    position: absolute;
    right: -6px;
    top: 4px;
}
.custom-select-company select:hover {
    border-color: rgb(0, 149, 255);
}
.c-dsahboard-top-cards {
    padding: 0px 12px;
    display: flex;
    align-items: center;
    background: white;
    position: relative;
    width: 320px;
    border-radius: 8px;
}
.c-dsahboard-top-cards img {
    height: 8vh;
}
.c-card-content {
    margin-left: 6px;
}
.c-card-content h3 {
    margin-top: 14px;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0px;
}
.c-card-content p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #3b96e1;
}
.candidate-searches {
    margin-top: 14px;
    box-shadow: 0px 0px 8px 0px rgba(212, 212, 212, 0.784);
    border-radius: 8px;
    height: 64px;
    padding: 4px 14px;
}
.cv-views {
    height: 64px;
    padding: 4px 14px;
    margin-top: 14px;
    box-shadow: 0px 0px 8px 0px rgba(212, 212, 212, 0.784);
    border-radius: 8px;
}
.ai-searches {
    margin-top: 14px;
    box-shadow: 0px 0px 8px 0px rgba(212, 212, 212, 0.784);
    border-radius: 8px;
    height: 64px;
    padding: 4px 14px;
}
@media (max-width: 575.98px) {
    .companydashboaord-child-card {
        width: 100%;
    }
    .c-dsahboard-top-cards {
        width: 100%;
    }
    .dashboard-card {
        width: 100%;
        margin-bottom: 10px;
    }
    .company-dashboard-card {
        margin-left: 0px;
        width: 100%;
    }
}
