.top1 {
    position: relative;
    padding: 16px;
   
    border-radius: 20px;
    height:140px;
    align-items: center;
    background: linear-gradient(
        126.92deg,
        #1c7ac7 2.12%,
        #4d90c7 50.39%,
        #1c7ac7 98.27%
    );
    width: 270px;
}

.top-1 {
    width: 90%;
    margin: 80px auto;
    padding: 10px;
}

.sub-card {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:20px;
}
.add-topup-btn {
    position: absolute;
    bottom: 10px;
    width: 88%;
    font-weight: 700;
    border-radius: 8px;
    padding: 6px;
}
.top1 p {
    color: #ffff00;
    margin-left: 4px;
    font-weight: 500;
}

.ruppee-topup {
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    margin-top: -4px;
}
.ruppee-topup span {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: left;
}
.ruppee-topup img {
    margin-top: -4px;
}

@media only screen and (max-width: 768px) {
    .sub-card {
        margin-top: 140px;
    }
    .top-1 {
        margin-top:-135px;
        
    }
    .ruppee-topup span {
        font-size: 0.8rem;
        font-weight: 300;
        text-align: left;
    }
}


.compact-modal .modal-content {
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.compact-modal h6 {
    font-size: 1rem;
    font-weight: 500;
}

.compact-modal p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}
