.support {
    background: white;
    height: 100vh;
    margin-left: 10px;
}

.Search-support {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 19px; /* Adds spacing between elements */
}

.top-row {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1; /* Allows the top row to take available space */
}

.search-bar-suport {
    background: #f8f8f8;
    border-radius: 8px;
    height: 35px;
    flex: 1; /* Allows the search bar to take remaining space */
    box-shadow: 0px 0px 4px 0px rgb(147, 147, 147);
    display: flex;
    align-items: center;
    padding: 0 6px;
}

.search-bar-suport input {
    background: transparent;
    color: black;
    outline: none;
    border: none;
    padding: 5px;
    width: 100%;
    margin-left: 4px;
}

.search-bar-suport img {
    margin-left: 6px;
}

.add-issue-btn {
    width: 120px;
    height: 36px;
    background: #3b96e1;
}

.toggle-btn {
    display: flex;
    gap: 0; 
    margin-top: 8px;
}

/* Mobile Responsiveness */
@media (max-width: 575.98px) {
    .Search-support {
        flex-direction: column;
        align-items: stretch;
    }

    .top-row {
        flex-direction: row;
        gap: 10px;
    }

    .search-bar-suport {
        width: 100%;
    }

    .toggle-btn {
        margin-top:-8px
    }
}