.main-section {
    display: flex;
    width: 100%;
    height: 100vh;
}
.layouts {
    display: flex;
    width: 100%;
}

.right {
    width: 22%;

    height: 100vh;
}
.right-2 {
    display: block;
    z-index: 10;
    position: absolute;

    animation: countUp;
}

.custom-scroll::-webkit-scrollbar {
    width: 0;
}

.custom-scroll {
    padding: 10px;
    width: 100%;
    scrollbar-width: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}
.right-top-navbar {
    display: none;
    background-color: #3b96e1;
}
@media (max-width: 767.98px) {
    .right-top-navbar {
        display: block;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 10px;
    }
    .right-top-navbar button {
        background: #ffffff;
    }
    .custom-scroll {
        width: 100%;

        z-index: 1;
    }
    .right {
        display: none;
        z-index: 3;
        transform: translateX(-300px);
    }
}
@keyframes countUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
